h2 {
  text-align: center; }

table.center {
  width: 10%;
  margin-left: 45%;
  margin-right: 45%;
  border-collapse: separate !important; }

.table > tbody > tr > td {
  padding: 3px !important; }

html {
  border-spacing: 2px;
  border-color: white; }
